allow bootanim kernel:system module_request;
allow bootanim rootfs:lnk_file getattr;
allow bootanim proc_net:file { read open getattr };
allow bootanim kgsl_sysfs:file { open getattr read write };

# allow bootanim to binder mediaserver
binder_call(bootanim, mediaserver);
allow bootanim mediaserver_service:service_manager find;
allow bootanim mpctl_socket:dir search;
unix_socket_connect(bootanim, mpctl, perfd)
unix_socket_send(bootanim, mpctl, perfd)

allow bootanim mpdecision:dir search;
allow bootanim mpdecision:file r_file_perms;
unix_socket_connect(bootanim, mpctl, mpdecision)
unix_socket_send(bootanim, mpctl, mpdecision)
