allow cameraserver kernel:system module_request;
allow cameraserver rootfs:lnk_file getattr;
allow cameraserver sysfs:file { write open read };
allow cameraserver storage_file:dir search;
allow cameraserver storage_file:lnk_file read;
allow cameraserver tmpfs:dir search;
allow cameraserver mnt_user_file:dir search;
allow cameraserver mnt_user_file:lnk_file read;
allow cameraserver fuse:dir search;
allow cameraserver audio_device:chr_file { read write open ioctl };

allow cameraserver camera_data_file:sock_file write;
allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver mm-qcamerad:unix_dgram_socket sendto;

#interaction with mptcl and thermal sockets
unix_socket_connect(cameraserver, mpctl, perfd)
unix_socket_connect(cameraserver, thermal, thermal-engine)

#Allow surfaceflinger access for camera preview
allow cameraserver surfaceflinger:unix_stream_socket { read write };

# allow cameraserver to communicate with sensors
allow cameraserver sensors_device:chr_file rw_file_perms;
unix_socket_connect(cameraserver, sensors, sensors);
allow cameraserver system_server:unix_stream_socket { read write };

#Allow read access to soc/msm-cam/video4linux/video0/name sysfs
allow cameraserver sysfs:file r_file_perms;

allow cameraserver persist_file:dir r_dir_perms;
set_prop(cameraserver, camera_prop)
allow cameraserver self:socket create_socket_perms;
allow cameraserver sensors_persist_file:dir r_dir_perms;
allow cameraserver sensors_persist_file:file r_file_perms;
allow cameraserver graphics_device:dir r_dir_perms;
allow cameraserver sensorservice_service:service_manager find;
allow cameraserver system_file:dir r_dir_perms;

#Allows camera to call ADSP QDSP6 functionality
allow cameraserver qdsp_device:chr_file r_file_perms;
