allow priv_app kernel:system module_request;
allow priv_app kgsl_device:chr_file { read write };
allow priv_app kgsl_sysfs:file { open getattr };
allow priv_app system_app_data_file:file rw_file_perms;