allow zygote kernel:system module_request;
allow zygote zygote:capability sys_nice;
# allow zygote to access seempdw socket
unix_socket_send(zygote, seempdw, seempd)

# ps command may do this
allow untrusted_app zygote:process getsched;
