allow cameraserver kernel:system module_request;
allow cameraserver rootfs:lnk_file getattr;
allow cameraserver sysfs:file { write open read };
allow cameraserver storage_file:dir search;
allow cameraserver storage_file:lnk_file read;
allow cameraserver tmpfs:dir search;
allow cameraserver mnt_user_file:dir search;
allow cameraserver mnt_user_file:lnk_file read;
allow cameraserver fuse:dir search;
allow cameraserver audio_device:chr_file { read write open ioctl };