allow init kernel:system module_request;
allow init tmpfs:lnk_file create;
allow init ram_device:blk_file write;
allow init init:capability sys_module;
allow init input_device:chr_file { write ioctl };
allow init system_data_file:sock_file write;
allow init init:netlink_route_socket { create bind read setopt getattr write };
allow init graphics_device:chr_file write;
allow init init:netlink_socket { create bind write setopt getattr read };
allow init init:packet_socket { create bind write read };
allow init property_socket:sock_file write;
allow init su_exec:file getattr;
allow init lib_system_file:file { getattr execmod };