allow surfaceflinger kernel:system module_request;
allow surfaceflinger kgsl_sysfs:file { open getattr };
allow surfaceflinger kgsl_sysfs:chr_file { read write open ioctl };
allow surfaceflinger audio_device:chr_file { read write open };